html {
    font-size: 10px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
}

.layout {
    width: 100%;
    height: 100%;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEEFFF;
}

.layout__main {
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px #7E78782B;
        background-color: white;

    display: flex;
    flex-direction: row;
}

.main__left {
    background-color: #684ECD;
    border-radius: 0.5rem;
    color: white;
    padding: 3rem 6rem 3rem 3rem;
    background: linear-gradient(to bottom, #674ECD, #8874d9);
}

.main__steps {
    width: 100%;
    list-style: none;
}

.steps__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

.steps__cont-number {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid white;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 200px;
    transition: all 300ms ease-in-out;
}

.steps__cont-number:hover {
    cursor: pointer;
    border: 1px solid #461af5;
    background-color: #461af5;
}